<section>
  <div class="page-header">
    <h1>Atenciones</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="atencion in vm.atenciones" ui-sref="atenciones.view({ atencionId: atencion._id })" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="atencion.fecha"></span>
        by
        <span ng-bind="atencion.doctor"></span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="atencion.lugar"></h4>
      <p class="list-group-item-text" ng-bind="atencion.descripcion"></p>
    </a>
  </div>
</section>
