<section>

    
        <!-- Wrapper -->
        <div class="wrapper">
            
            <!-- Barra Laterial -->
            <div class="sidebar" data-color="azure" data-image="/modules/users/client/img/profile/sidebar-5.jpg">
        
                <!--
        
                    Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
                    Tip 2: you can also add an image using data-image tag
        
                -->
                
                    <div class="sidebar-wrapper">
                        <div class="logo" ng-controller="CasaController">
                             <!--  <img src="/modules/users/client/img/profile/homero.png" width="42" height="42"/>-->
                            <a href="/" class="simple-text">
                                Menú de Opciones
                            </a>
                            <!--<button ng-click="go('/')">Menú de Opciones</button>-->
                        </div>
                        <!-- cuando es por celular -->
                        <!--<ul class="nav nav-mobile-menu">
                               
                            
            
                            
                        </ul>-->
                        <ul class="nav ng-scope">
                            <li class="active">
                                <a ui-sref="infracciones">
                                    <i class="pe-7s-car"></i>
                                    <p>Infracciones de Tránsito</p>
                                </a>
                            </li>
                            <li>
                                <a ui-sref="denuncias">
                                    <i class="pe-7s-note2"></i>
                                    <p>Denuncias</p>
                                </a>
                            </li>
                            <li>
                                <a ui-sref="salud">
                                    <i class="pe-7s-id"></i>
                                    <p>Salud</p>
                                </a>
                            </li>
                            <li>
                                <a ui-sref="turismo">
                                    <i class="pe-7s-plane"></i>
                                    <p>Turismo</p>
                                </a>
                            </li>
                           
                            <li class="active-pro">
                                <a ui-sref="acercade">
                                    <i class="pe-7s-rocket"></i>
                                    <p>Acerca de</p>
                                </a>
                            </li>
                        </ul>
                    </div>
            </div> <!--Fin Barra Laterial -->
            
        
            <!-- Main -->
            <div class="main-panel">
        
                <!-- Menu de Arriba -->
                <nav class="navbar navbar-default navbar-fixed"  ng-controller="HeaderController as vm">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2"> <!--data-target="#navbar" aria-expanded="false" aria-controls="navbar"-->
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href="#"><b>Municipalidad de Springfield</b></a>
                            </div>
                            <div class="collapse navbar-collapse" id="menucito">
                                    <!-- Te muestra cada uno de los módulose: articulos, admin, chat (estan en HeadController)-->
                                    <ul class="nav navbar-nav" ng-if="vm.menu.shouldRender(vm.authentication.user);">
                                            <li ng-repeat="item in vm.menu.items | orderBy: 'position'" ng-if="item.shouldRender(vm.authentication.user);" ng-switch="item.type" ng-class="{ dropdown: item.type === 'dropdown' }" ui-sref-active="active" class="{{item.class}}" uib-dropdown="item.type === 'dropdown'">
                                                <a data-toggle="dropdown" ng-switch-when="dropdown" class="dropdown-toggle" uib-dropdown-toggle role="button">{{::item.title}}&nbsp;<span class="caret"></span></a>
                                                <ul ng-switch-when="dropdown" class="dropdown-menu">
                                                <li ng-repeat="subitem in item.items | orderBy: 'position'" ng-if="subitem.shouldRender(vm.authentication.user);">
                                                    <a ui-sref="{{subitem.state}}({{subitem.params}})" ng-bind="subitem.title"></a>
                                                </li>
                                                </ul>
                                                <a ng-switch-default ui-sref="{{item.state}}" ng-bind="item.title"></a>
                                            </li>
                                    </ul>
                                    <!-- Cuando el usuario no ha iniciado sesión te muestra "Registrarse" y "Iniciar Sesión" -->
                                    <ul class="nav navbar-nav navbar-right" ng-hide="vm.authentication.user">
                                            <li ui-sref-active="active">
                                                <a ui-sref="authentication.signup">Registrarse</a>
                                            </li>
                                            <li class="divider-vertical"></li>
                                            <li ui-sref-active="active">
                                                <a ui-sref="authentication.signin">Iniciar Sesión</a>
                                            </li>
                                    </ul>
                                    <!--cuando el usuario ha iniciado sesión -->
                                    <ul class="nav navbar-nav navbar-right" ng-show="vm.authentication.user">
                                            <li class="dropdown" uib-dropdown>
                                                <!-- Muestra imagen y nombre del usuario -->  
                                                <a data-toggle="dropdown" class="dropdown-toggle user-header-dropdown-toggle" uib-dropdown-toggle role="button">
                                                <img ng-src="{{vm.authentication.user.profileImageURL}}" alt="{{vm.authentication.user.displayName}}" class="header-profile-image" />
                                                <b><span ng-bind="vm.authentication.user.displayName"></span> <b class="caret"></b></b>
                                                </a>
                                                <!-- te muestra un drop menu con las opciones -->
                                                <ul class="dropdown-menu" role="menu">
                                                    <li ui-sref-active="active" ng-repeat="item in vm.accountMenu.items">
                                                        <a ui-sref="{{item.state}}" ng-bind="item.title"></a>
                                                    </li>
                                                    <li class="divider"></li>
                                                    <li> 
                                                        <a href="/api/auth/signout" target="_self">Cerrar Sesión</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="separator hidden-lg"></li>
                                    </ul>
                            </div>
                        </div>
                </nav> <!-- Fin Menu -->
                 
                <br>
                
        
               
                   
                
        
            
                
        
                <!--  #########  TABLAS BD INFRACCIONES #################  -->
                <div class="content">
                        <div class="container-fluid">
                            <div class="row">
                                <div ng-app ng-controller="TablainfraccionesController">
                                    <div class="container-fluid">
                                        <!-- TABLA DE INFRACCIONES -->
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <div class="card">
                                                <div class="header">
                                                    <h4 class="title">Infracciones no Pagadas </h4>
                                                    <p class="category">Desde 2010 a 2018</p>
                                                </div>
                                                <div class="content table-responsive table-full-width">
                                                    <table class="table table-hover table-striped">
                                                        <thead>
                                                            <th class="text-center" style="font-size: 12px; color: black; font-weight: bold">Id</th>
                                                            <th class="text-center" style="font-size: 12px; color: black; font-weight: bold">Año</th>
                                                            <th class="text-center" style="font-size: 12px; color: black; font-weight: bold">Cantidad de Infracciones</th>
                                                            <th class="text-center" style="font-size: 12px; color: black; font-weight: bold">Cantidad de Infracciones NO Pagadas</th>
                                                        </thead>
                                                        <tbody ng-repeat="grafico in graficos">
                                                            <tr>
                                                                <td align="center">{{$index+1}}</td>
                                                                <td align="center">{{grafico.fecha}}</td>
                                                                <td align="center">{{grafico.cantidad}}</td>
                                                                <td align="center"> {{grafico.pagada==0 ? 'Todas pagas' : 'Faltan pagar ' + grafico.pagada + ' infracciones'}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                            
                                                </div>
                                            </div>
                                        </div>
                                        <!--GRAFICO 1-->
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-centered text-center" ng-controller="InfraccionesController">
                                                <div class="card">
                                                    <div class="header">
                                                        <h4 class="title" align="center">Tipos de Infracciones más Frecuentes</h4>
                                                        <p class="category" style="text-align: left"></p>
                                                        <br>
                                                        <p class="category">Fecha Desde
                                                            <!--<input type="date" id="fdesde" name="input" ng-model="data.fdesde"
                                                            placeholder="yyyy-MM-dd"  required />-->
                                                            <input id="bday-month" type="month" name="bday-month" min="2009-01" max="2020-12" ng-model="data.fdesde">
                                                        </p>
                                                        <br>
                                                        <p class="category">Fecha Hasta 
                                                        <!--<input type="date" id="fhasta" name="input" ng-model="data.fhasta"
                                                        placeholder="yyyy-MM-dd" required />-->
                                                        <input id="bday-month" type="month" name="bday-month" min="2009-01" max="2020-12" ng-model="data.fhasta">
                                                        </p>
                                                        <br>
                                                        <center><button type="button" class="btn btn-default" style="background-color: black; color: whitesmoke" ng-click="filtrar($event)"><i class="pe-7s-search"></i>  Filtrar</button></center>
                                                    </div>
                                                    <div class="content">
                                                            
                                                            <canvas id="pie" chart-labels="labels" class="chart chart-pie" chart-series="series" 
                                                            chart-options="options" chart-data="datos_label" 
                                                            chart-click="changeData" chart-backgroundColor="" chart-borderColor="" chart-borderWidth="12px">
                                                            </canvas>
            
                                                    </div>
                                                </div>
                                        </div>
                                    </div><!--row-->
                                </div>
                            </div>
                            <div class="row">
                                    <!--GRAFICO 2-->
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center" ng-controller="SexoInfraccionesController">
                                            <div class="card">
                                                <div class="header">
                                                    <h4 class="title" align="center">Total Infracciones Masculino/Femenino</h4>
                                                    <br>
                                                    <p class="category">
                                                        Desde 2010 Hasta 2018
                                                    </p>
                                                </div>
                                                <div class="content">                                            
                                                    <canvas id="pie" class="chart chart-pie" chart-series="series" chart-options="" chart-data="datos_label" chart-labels="labels"
                                                    chart-click="changeData" chart-backgroundColor="" chart-borderColor="" chart-borderWidth="">
                                                    </canvas>
                                                    <div class="footer">
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center" ng-controller="SexoInfraccionesController">
                                        <div class="card">
                                            <div class="header">
                                                <h4 class="title" align="center">Crecimiento Infracciones Masculino/Femenino</h4>
                                                <br>
                                                <p class="category">
                                                    Desde 2010 Hasta 2018
                                                </p>
                                            </div>
                                            <div class="content">                                            
                                                <canvas id="bar" class="chart chart-bar" chart-options="options" chart-data="[datos_label_m, datos_label_f]" chart-labels="labels_f"
                                                chart-click="changeData" chart-backgroundColor="" chart-borderColor="" chart-borderWidth="" chart-series="series">
                                                </canvas>
                                                <div class="footer">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                            <div class="row">
                                <!--GRAFICO 3-->
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center" ng-controller="CrecimientoInfraccionesController">
                                        <div class="card">
                                            <div class="header">
                                                <h4 class="title" align="center">Crecimiento de Infracciones por Año</h4>
                                                <br>
                                                <p align="center" class="category">
                                                    Desde 2010 Hasta 2018
                                                </p>
                                                <br>
                                            </div>
                                            <div class="content">
                                                
                                                <canvas id="pie" class="chart chart-line"
                                                chart-options="options" chart-data="[datos_label]" chart-labels="labels" chart-series="series"
                                                chart-click="changeData" chart-backgroundColor="" chart-borderColor="" chart-borderWidth="">
                                                </canvas>
    
                                            <div class="footer">
    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
        
        
                
        
        
              
        
        
        
        
        
        
        
        
                
                        
                                
                                
                                
                               
                            
            
            
            
           
        
               
        
                <footer class="footer">
                    <div class="container-fluid">
                        <center>
                            <p class="copyright">
                                &copy; Copyright  De Marco Andrada - Parra 2018
                            </p>
                        </center>
                    </div>
                </footer>
        
            </div> <!-- Fin Main -->
            
        </div> <!-- Fin Wrapper -->
        
        
           
        
        </section>
        
