<section style="margin-left: 20px;margin-right: 20px;">
  <br>
  
  
 
  
  <h1 align="center" style="font-weight: 700; color: rgb(102, 102, 102); 
   font-size: 24px; text-transform: uppercase;
  opacity: 0.9;">
      Infracciones de Tránsito
  </h1>


<!--ACA ESTA EL GRAFICO:  el controlador esta en modules/atenciones/client/controllers/atenciones.client.controller.js -->
<div class="row">
    <!--GRAFICO 1-->
    <div class="col-md-4 col-centered text-center" ng-controller="AtencionesController">
        <div class="card">
            <div class="header">
                <h4 class="title" align="center">Tipos de Infracciones más Frecuentes</h4>
                <br>
                <p class="category">Fecha Desde
                    <!--<input type="date" id="fdesde" name="input" ng-model="data.fdesde"
                    placeholder="yyyy-MM-dd"  required />-->
                    <input id="bday-month" type="month" name="bday-month"
                    min="1900-01" max="1999-12" ng-model="data.fdesde">
                </p>
                <br>
                <p class="category">Fecha Hasta 
                  <!--<input type="date" id="fhasta" name="input" ng-model="data.fhasta"
                  placeholder="yyyy-MM-dd" required />-->
                  <input id="bday-month" type="month" name="bday-month"
                    min="1900-01" max="1999-12" ng-model="data.fhasta">
                </p>
                <br>
                <center><button type="button" class="btn btn-default">Filtrar</button></center>
            </div>
            <div class="content">
                
                <canvas id="pie" class="chart chart-pie"
                chart-options="options" chart-data="data" chart-labels="labels"
                chart-click="changeData" chart-backgroundColor="" chart-borderColor="" chart-borderWidth="">
                </canvas>

                <div class="footer">
                    <div class="legend">
                        <i class="fa fa-circle text-info"></i> Open
                        <i class="fa fa-circle text-danger"></i> Bounce
                        <i class="fa fa-circle text-warning"></i> Unsubscribe
                    </div>
                    <hr>
                    <div class="stats">
                        <i class="fa fa-clock-o"></i> Campaign sent 2 days ago
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--GRAFICO 2-->
    <div class="col-md-4 text-center" ng-controller="AtencionesController">
        <div class="card">
            <div class="header">
                <h4 class="title" align="center">Infracciones Masculino/Femenino</h4>
                <br>
                <p class="category">Fecha
                    Desde 2010 Hasta 2018
                </p>
            </div>
            <div class="content">
                
                <canvas id="pie" class="chart chart-bar"
                chart-options="options" chart-data="data" chart-labels="labels"
                chart-click="changeData" chart-backgroundColor="" chart-borderColor="" chart-borderWidth="">
                </canvas>

                <div class="footer">
                    <div class="legend">
                        <i class="fa fa-circle text-info"></i> Open
                        <i class="fa fa-circle text-danger"></i> Bounce
                        <i class="fa fa-circle text-warning"></i> Unsubscribe
                    </div>
                    <hr>
                    <div class="stats">
                        <i class="fa fa-clock-o"></i> Campaign sent 2 days ago
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--GRAFICO 3-->
    <div class="col-md-4 text-center" ng-controller="AtencionesController">
        <div class="card">
            <div class="header">
                <h4 class="title" align="center">Crecimiento de Infracciones por Año</h4>
                <br>
                <p align="center" class="category">
                    Desde 2010 Hasta 2018
                </p>
                <br>
            </div>
            <div class="content">
                
                <canvas id="pie" class="chart chart-line"
                chart-options="options" chart-data="data" chart-labels="labels"
                chart-click="changeData" chart-backgroundColor="" chart-borderColor="" chart-borderWidth="">
                </canvas>

                <div class="footer">
                    <div class="legend">
                        <i class="fa fa-circle text-info"></i> Open
                        <i class="fa fa-circle text-danger"></i> Bounce
                        <i class="fa fa-circle text-warning"></i> Unsubscribe
                    </div>
                    <hr>
                    <div class="stats">
                        <i class="fa fa-clock-o"></i> Campaign sent 2 days ago
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!--ROW-->

  

<h1 align="center" style="font-weight: 700; color: rgb(102, 102, 102); 
   font-size: 24px; text-transform: uppercase;
  opacity: 0.9;">
      Denuncias
  </h1>

  
  <div class="row">
      <!--GRAFICO 1-->
      <div class="col-md-4 col-centered text-center" ng-controller="AtencionesController">
          <div class="card">
              <div class="header">
                  <h4 class="title" align="center">Tipos de Denuncias más Frecuentes</h4>
                  <br>
                  <p class="category">Fecha Desde
                      <input type="date" id="fdesde" name="input" ng-model="data.fdesde"
                      placeholder="yyyy-MM-dd"  required />
                  </p>
                  <br>
                  <p class="category">Fecha Hasta 
                    <input type="date" id="fhasta" name="input" ng-model="data.fhasta"
                    placeholder="yyyy-MM-dd" required />
                  </p>
                  <br>
                  <center><button type="button" class="btn btn-default">Filtrar</button></center>
              </div>
              <div class="content">
                  
                  <canvas id="pie" class="chart chart-pie"
                  chart-options="options" chart-data="data" chart-labels="labels"
                  chart-click="changeData" chart-backgroundColor="" chart-borderColor="" chart-borderWidth="">
                  </canvas>
  
                  <div class="footer">
                      <div class="legend">
                          <i class="fa fa-circle text-info"></i> Open
                          <i class="fa fa-circle text-danger"></i> Bounce
                          <i class="fa fa-circle text-warning"></i> Unsubscribe
                      </div>
                      <hr>
                      <div class="stats">
                          <i class="fa fa-clock-o"></i> Campaign sent 2 days ago
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!--GRAFICO 2-->
      <div class="col-md-4 col-centered text-center" ng-controller="AtencionesController">
          <div class="card">
              <div class="header">
                  <h4 class="title" align="center">
                    Denuncias por Violencia de Género <br>
                    vs <br>
                    Muertes por Violencia de Género

                  </h4>
                  <br>
                  <p align="center" class="category">
                      Desde 2010 hasta 2018
                  </p>
                  
              </div>
              <div class="content">
                  
                  <canvas id="pie" class="chart chart-line"
                  chart-options="options" chart-data="data" chart-labels="labels"
                  chart-click="changeData" chart-backgroundColor="" chart-borderColor="" chart-borderWidth="">
                  </canvas>
  
                  <div class="footer">
                      <div class="legend">
                          <i class="fa fa-circle text-info"></i> Open
                          <i class="fa fa-circle text-danger"></i> Bounce
                          <i class="fa fa-circle text-warning"></i> Unsubscribe
                      </div>
                      <hr>
                      <div class="stats">
                          <i class="fa fa-clock-o"></i> Campaign sent 2 days ago
                      </div>
                  </div>
              </div>
          </div>
      </div>
</div><!--ROW-->





<h1 align="center" style="font-weight: 700; color: rgb(102, 102, 102); 
   font-size: 24px; text-transform: uppercase;
  opacity: 0.9;">
      Salud
  </h1>

  <div class="row">
      <!--GRAFICO 1-->
      <div class="col-md-4 col-centered text-center" ng-controller="AtencionesController">
          <div class="card">
              <div class="header">
                  <h4 class="title" align="center">Problemas de Salud más Frecuentes</h4>
                  <br>
                  <p class="category">
                      Desde 2010 hasta 2018
                  </p>
                  <br>
              </div>
              <div class="content">
                  
                  <canvas id="pie" class="chart chart-pie"
                  chart-options="options" chart-data="data" chart-labels="labels"
                  chart-click="changeData" chart-backgroundColor="" chart-borderColor="" chart-borderWidth="">
                  </canvas>
  
                  <div class="footer">
                      <div class="legend">
                          <i class="fa fa-circle text-info"></i> Open
                          <i class="fa fa-circle text-danger"></i> Bounce
                          <i class="fa fa-circle text-warning"></i> Unsubscribe
                      </div>
                      <hr>
                      <div class="stats">
                          <i class="fa fa-clock-o"></i> Campaign sent 2 days ago
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!--GRAFICO 2-->
      <div class="col-md-4 col-centered text-center" ng-controller="AtencionesController">
          <div class="card">
              <div class="header">
                  <h4 class="title" align="center">
                    Crecimiento de Problemas de Salud por Año
                  </h4>
                  <br>
                  
                      
                  
                  <div ng-controller="ProblemasController">
                    
                        <p class="category">Problema 
                            <select ng-model="data.problema" >
                              <option id="combo" ng-repeat="problema in problemas" ng-value="problema.id_problema">{{problema.nombre}}</option>
                            </select>
                        </p>
                        <br>
                        <button id="1" ng-click="hola($event)" type="button" class="btn btn-default">Filtrar</button>
                      
                  </div>
                  <br>
                  
                  
              </div>
              <div class="content">
                  
                  <canvas id="pie" class="chart chart-line"
                  chart-options="options" chart-data="data" chart-labels="labels"
                  chart-click="changeData" chart-backgroundColor="" chart-borderColor="" chart-borderWidth="">
                  </canvas>
  
                  <div class="footer">
                      <div class="legend">
                          <i class="fa fa-circle text-info"></i> Open
                          <i class="fa fa-circle text-danger"></i> Bounce
                          <i class="fa fa-circle text-warning"></i> Unsubscribe
                      </div>
                      <hr>
                      <div class="stats">
                          <i class="fa fa-clock-o"></i> Campaign sent 2 days ago
                      </div>
                  </div>
              </div>
          </div>
      </div>
</div><!--ROW-->



<h1 align="center" style="font-weight: 700; color: rgb(102, 102, 102); 
   font-size: 24px; text-transform: uppercase;
  opacity: 0.9;">
      Turismo
</h1>


<div class="row">
    <!--GRAFICO 1-->
    <div class="col-md-3 col-centered text-center" ng-controller="AtencionesController">
        <div class="card">
            <div class="header">
                <h4 class="title" align="center">Nro de Turistas Alojados</h4>
                <br>
                <p class="category">Fecha Desde
                    <input id="bday-month" type="month" name="bday-month"
                    min="1900-01" max="1999-12" ng-model="data.fdesde">
                </p>
                <br>
                <p class="category">Fecha Hasta 
                    <input id="bday-month" type="month" name="bday-month"
                    min="1900-01" max="1999-12" ng-model="data.fhasta">
                </p>
                <br>
                <center><button type="button" class="btn btn-default">Filtrar</button></center>
            </div>
            <div class="content">
                
                <canvas id="pie" class="chart chart-bar"
                chart-options="options" chart-data="data" chart-labels="labels"
                chart-click="changeData" chart-backgroundColor="" chart-borderColor="" chart-borderWidth="">
                </canvas>

                <div class="footer">
                    <div class="legend">
                        <i class="fa fa-circle text-info"></i> Open
                        <i class="fa fa-circle text-danger"></i> Bounce
                        <i class="fa fa-circle text-warning"></i> Unsubscribe
                    </div>
                    <hr>
                    <div class="stats">
                        <i class="fa fa-clock-o"></i> Campaign sent 2 days ago
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--GRAFICO 2-->
    <div class="col-md-3 text-center" ng-controller="AtencionesController">
        <div class="card">
            <div class="header">
                <h4 class="title" align="center">Excursiones por Mes</h4>
                <br>
                <p class="category">Fecha
                    <input id="bday-month" type="month" name="bday-month"
                    min="1900-01" max="1999-12" ng-model="data.fdesde">
                </p>
            </div>
            <div class="content">
                
                <canvas id="pie" class="chart chart-bar"
                chart-options="options" chart-data="data" chart-labels="labels"
                chart-click="changeData" chart-backgroundColor="" chart-borderColor="" chart-borderWidth="">
                </canvas>

                <div class="footer">
                    <div class="legend">
                        <i class="fa fa-circle text-info"></i> Open
                        <i class="fa fa-circle text-danger"></i> Bounce
                        <i class="fa fa-circle text-warning"></i> Unsubscribe
                    </div>
                    <hr>
                    <div class="stats">
                        <i class="fa fa-clock-o"></i> Campaign sent 2 days ago
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--GRAFICO 3-->
    <div class="col-md-3 text-center" ng-controller="AtencionesController">
        <div class="card">
            <div class="header">
                <h4 class="title" align="center">Crecimiento del Turismo por Año</h4>
                <br>
                <p align="center" class="category">
                    Desde 2010 Hasta 2018
                </p>
                <br>
            </div>
            <div class="content">
                
                <canvas id="pie" class="chart chart-line"
                chart-options="options" chart-data="data" chart-labels="labels"
                chart-click="changeData" chart-backgroundColor="" chart-borderColor="" chart-borderWidth="">
                </canvas>

                <div class="footer">
                    <div class="legend">
                        <i class="fa fa-circle text-info"></i> Open
                        <i class="fa fa-circle text-danger"></i> Bounce
                        <i class="fa fa-circle text-warning"></i> Unsubscribe
                    </div>
                    <hr>
                    <div class="stats">
                        <i class="fa fa-clock-o"></i> Campaign sent 2 days ago
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--GRAFICO 4-->
    <div class="col-md-3 text-center" ng-controller="AtencionesController">
        <div class="card">
            <div class="header">
                <h4 class="title" align="center">Turismo por Nacionalidad</h4>
                <br>
                <p align="center" class="category">
                    Desde 2010 Hasta 2018
                </p>
                <br>
            </div>
            <div class="content">
                
                <canvas id="pie" class="chart chart-bar"
                chart-options="options" chart-data="data" chart-labels="labels"
                chart-click="changeData" chart-backgroundColor="" chart-borderColor="" chart-borderWidth="">
                </canvas>

                <div class="footer">
                    <div class="legend">
                        <i class="fa fa-circle text-info"></i> Open
                        <i class="fa fa-circle text-danger"></i> Bounce
                        <i class="fa fa-circle text-warning"></i> Unsubscribe
                    </div>
                    <hr>
                    <div class="stats">
                        <i class="fa fa-clock-o"></i> Campaign sent 2 days ago
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!--ROW-->


</section>

