<section style="margin-left: 20px;margin-right: 20px;">
  
<div class="wrapper">
    <div class="sidebar" data-color="purple" data-image="assets/img/sidebar-5.jpg">   
        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="http://www.creative-tim.com" class="simple-text">
                    Creative Tim
                </a>
            </div>
        </div>
    </div>
            <div class="main-panel">
                <div class="content">
                        <div class="container-fluid">
                            <h1 align="center" style="font-weight: 700; color: rgb(102, 102, 102); 
                            font-size: 24px; text-transform: uppercase;
                            opacity: 0.9;">
                                Infracciones de Tránsito
                            </h1>
                            <!--ACA ESTA EL GRAFICO:  el controlador esta en modules/atenciones/client/controllers/atenciones.client.controller.js -->
                            <div class="row">
                                <!--GRAFICO 1-->
                                <div class="col-md-4 col-centered text-center" ng-controller="InfraccionesController">
                                    <div class="card">
                                        <div class="header">
                                            <h4 class="title" align="center">Tipos de Infracciones más Frecuentes</h4>
                                            <br>
                                            <p class="category">Fecha Desde
                                                <!--<input type="date" id="fdesde" name="input" ng-model="data.fdesde"
                                                placeholder="yyyy-MM-dd"  required />-->
                                                <input id="bday-month" type="month" name="bday-month" min="2009-01" max="2020-12" ng-model="data.fdesde">
                                            </p>
                                            <br>
                                            <p class="category">Fecha Hasta 
                                            <!--<input type="date" id="fhasta" name="input" ng-model="data.fhasta"
                                            placeholder="yyyy-MM-dd" required />-->
                                            <input id="bday-month" type="month" name="bday-month" min="2009-01" max="2020-12" ng-model="data.fhasta">
                                            </p>
                                            <br>
                                            <center><button type="button" class="btn btn-default" ng-click="filtrar($event)">Filtrar</button></center>
                                        </div>
                                        <div class="content">
                                            
                                            <canvas id="pie" class="chart chart-pie" chart-options="options" chart-data="datos_label" chart-labels="labels"
                                            chart-click="changeData" chart-backgroundColor="" chart-borderColor="" chart-borderWidth="">
                                            </canvas>

                                        </div>
                                    </div>
                                </div>
                                <!--GRAFICO 2-->
                                <div class="col-md-4 text-center" ng-controller="SexoInfraccionesController">
                                    <div class="card">
                                        <div class="header">
                                            <h4 class="title" align="center">Infracciones Masculino/Femenino</h4>
                                            <br>
                                            <p class="category">Fecha
                                                Desde 2010 Hasta 2018
                                            </p>
                                        </div>
                                        <div class="content">                                            
                                            <canvas id="pie" class="chart chart-pie" chart-options="options" chart-data="datos_label" chart-labels="labels"
                                            chart-click="changeData" chart-backgroundColor="" chart-borderColor="" chart-borderWidth="">
                                            </canvas>
                                            <div class="footer">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 text-center" ng-controller="SexoInfraccionesController">
                                    <div class="card">
                                        <div class="header">
                                            <h4 class="title" align="center">Infracciones Masculino/Femenino</h4>
                                            <br>
                                            <p class="category">Fecha
                                                Desde 2010 Hasta 2018
                                            </p>
                                        </div>
                                       <div class="content">                                            
                                            <canvas id="bar" class="chart chart-bar" chart-options="options" chart-data="[datos_label_m, datos_label_f]" chart-labels="labels_f"
                                            chart-click="changeData" chart-backgroundColor="" chart-borderColor="" chart-borderWidth="">
                                            </canvas>
                                            <div class="footer">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--GRAFICO 3-->
                                <div class="col-md-4 text-center" ng-controller="CrecimientoInfraccionesController">
                                    <div class="card">
                                        <div class="header">
                                            <h4 class="title" align="center">Crecimiento de Infracciones por Año</h4>
                                            <br>
                                            <p align="center" class="category">
                                                Desde 2010 Hasta 2018
                                            </p>
                                            <br>
                                        </div>
                                        <div class="content">
                                            
                                            <canvas id="pie" class="chart chart-line"
                                            chart-options="options" chart-data="datos_label" chart-labels="labels"
                                            chart-click="changeData" chart-backgroundColor="" chart-borderColor="" chart-borderWidth="">
                                            </canvas>

                                        <div class="footer">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

            <div class="container-fluid">
           
  <h1 align="center" style="font-weight: 700; color: rgb(102, 102, 102); 
  font-size: 24px; text-transform: uppercase;
  opacity: 0.9;">
  Denuncias
  </h1>

  <div class="row">
    <!--GRAFICO 1-->
    <div class="col-md-4 col-centered text-center" ng-controller="DenunciasController">
        <div class="card">
            <div class="header">
                <h4 class="title" align="center">Tipos de Denuncias más Frecuentes</h4>
            </div>
            <div class="content">
                
                <canvas id="pie" class="chart chart-pie"
                chart-options="options" chart-data="datos_label" chart-labels="labels"
                chart-click="changeData" chart-backgroundColor="" chart-borderColor="" chart-borderWidth="">
                </canvas>

                <div class="footer">
                   
                </div>
            </div>
        </div>
    </div>


      <!--GRAFICO 2-->
      <div class="col-md-4 col-centered text-center" ng-controller="ViolenciasDenunciasController">
          <div class="card">
              <div class="header">
                  <h4 class="title" align="center">
                    Denuncias por Violencia de Género <br>
                    vs <br>
                    Muertes por Violencia de Género

                  </h4>
                  <br>
                  <p align="center" class="category">
                      Desde 2010 hasta 2018
                  </p>
                  
              </div>
              <div class="content">
                  
                  <canvas id="line" class="chart chart-line"
                  chart-options="options" chart-data="[datos_denuncias, datos_muertes]" chart-labels="labels"
                  chart-click="changeData" chart-backgroundColor="" chart-borderColor="" chart-borderWidth="">
                  </canvas>
              </div>
          </div>
      </div>
</div><!--ROW-->





<h1 align="center" style="font-weight: 700; color: rgb(102, 102, 102); 
   font-size: 24px; text-transform: uppercase;
  opacity: 0.9;">
      Salud
  </h1>

  <div class="row">
      <!--GRAFICO 1-->
      <div class="col-md-4 col-centered text-center" ng-controller="AtencionesController">
          <div class="card">
              <div class="header">
                  <h4 class="title" align="center">Problemas de Salud más Frecuentes</h4>
                  <br>
                  <p class="category">
                      Desde 2010 hasta 2018
                  </p>
                  <br>
              </div>
              <div class="content">
                  
                  <canvas id="pie" class="chart chart-pie"
                  chart-options="options" chart-data="datos_label" chart-labels="labels"
                  chart-click="changeData" chart-backgroundColor="" chart-borderColor="" chart-borderWidth="">
                  </canvas>
              </div>
          </div>
      </div>
      <!--GRAFICO 2-->
      
      <div class="col-md-4 col-centered text-center" ng-controller="ProblemasController">
          <div class="card">
              <div class="header">
                  <h4 class="title" align="center">
                    Crecimiento de Problemas de Salud por Año
                  </h4>
                  <br>
                    <p class="category">Problema 
                        <select ng-model="data.problema" >
                            <option id="combo" ng-repeat="problema in problemas" ng-value="problema._id">{{problema.nombre}}</option>
                        </select>
                    </p>
                    <br>
                    <button id="1" ng-click="filtrar($event)" type="button" class="btn btn-default">Filtrar</button>
                  <br>                  
              </div>
                <div class="content">
                <canvas id="pie" class="chart chart-line" chart-options="options" chart-data="datos_label" chart-labels="labels"
                  chart-click="changeData" chart-backgroundColor="" chart-borderColor="" chart-borderWidth="">
                </canvas>
              </div>
          </div>
      </div>
</div><!--ROW-->



<h1 align="center" style="font-weight: 700; color: rgb(102, 102, 102); 
   font-size: 24px; text-transform: uppercase;
  opacity: 0.9;">
      Turismo
</h1>


<div class="row">
    <!--GRAFICO 1-->
    <div class="col-md-3 col-centered text-center" ng-controller="TiposAlojamientosController">
        <div class="card">
            <div class="header">
                <h4 class="title" align="center">Nro de Turistas Alojados por Categoría</h4>
                <br>
                <p class="category">Fecha Desde
                    <input id="bday-month" type="month" name="bday-month"
                    min="2010-01" max="2020-12" ng-model="data.fdesde">
                </p>
                <br>
                <p class="category">Fecha Hasta 
                    <input id="bday-month" type="month" name="bday-month"
                    min="2010-01" max="2020-12" ng-model="data.fhasta">
                </p>
                <br>
                <center><button type="button" class="btn btn-default" ng-click="filtrar($event)">Filtrar</button></center>
            </div>
            <div class="content">
                <canvas id="pie" class="chart chart-bar"
                chart-options="options" chart-data="datos_label" chart-labels="labels"
                chart-click="changeData" chart-backgroundColor="" chart-borderColor="" chart-borderWidth="">
                </canvas>
                <div class="footer">                    
                </div>
            </div>
        </div>
    </div>
    <!--GRAFICO 2-->
    <div class="col-md-3 text-center" ng-controller="TiposExcursionesController">
        <div class="card">
            <div class="header">
                <h4 class="title" align="center">Nro Excursiones</h4>
                <br>
                <p class="category">Fecha Desde
                    <input id="bday-month" type="month" name="bday-month"
                    min="2010-01" max="2020-12" ng-model="data.fdesde">
                </p>
                <br>
                <p class="category">Fecha Hasta 
                    <input id="bday-month" type="month" name="bday-month"
                    min="2010-01" max="2020-12" ng-model="data.fhasta">
                </p>
                <br>
                <center><button type="button" class="btn btn-default" ng-click="filtrar($event)">Filtrar</button></center>
                
            </div>
            <div class="content">
                
                <canvas id="pie" class="chart chart-bar"
                chart-options="options" chart-data="datos_label" chart-labels="labels"
                chart-click="changeData" chart-backgroundColor="" chart-borderColor="" chart-borderWidth="">
                </canvas>

                <div class="footer">
                    
                </div>
            </div>
        </div>
    </div>
    <!--GRAFICO 3-->
    <div class="col-md-3 text-center" ng-controller="CrecimientoAlojamientosController">
        <div class="card">
            <div class="header">
                <h4 class="title" align="center">Crecimiento del Turismo por Año</h4>
                <br>
                <p align="center" class="category">
                    Desde 2010 Hasta 2018
                </p>
                <br>
            </div>
            <div class="content">
                
                <canvas id="pie" class="chart chart-line"
                chart-options="options" chart-data="[datos_label, datos_excursiones]" chart-labels="labels"
                chart-click="changeData" chart-backgroundColor="" chart-borderColor="" chart-borderWidth="">
                </canvas>

                <div class="footer">
                    
                </div>
            </div>
        </div>
    </div>
    <!--GRAFICO 4-->
    <div class="col-md-3 text-center" ng-controller="NacionalidadAlojamientosController">
        <div class="card">
            <div class="header">
                <h4 class="title" align="center">Turismo por Nacionalidad</h4>
                <br>
                <p align="center" class="category">
                    Desde 2010 Hasta 2018
                </p>
                <br>
            </div>
            <div class="content">
                
                <canvas id="pie" class="chart-line"
                chart-options="options" chart-data="datos_a" chart-labels="labels"
                chart-click="changeData" chart-backgroundColor="" chart-borderColor="" chart-borderWidth="">
                </canvas>

                <div class="footer">
                    
                </div>
            </div>
        </div>
    </div>
</div><!--ROW-->


<!--
<!-- DATOS DE PRUEBA --
<div ng-controller="AtencionesController">
        <p>The ID is {{saludo}}</p>
        <p>The ID is {{datos1}}</p>
        <p>The ID is {{prob}}</p>
        <p>The ID is {{problemas}}</p>
      </div>
      
    
      <!--grafico 1: cantidad problemas--
      <h1>SALUD - GRAFICO 1</h1>
      <p>The button has been clicked {{id}} times.</p>
      <div ng-app ng-controller="AtencionesController">
        <div ng-repeat="(key,value) in graficos">
          
          <p>Problema: {{key}}</p>
          <p>Cantidad: {{value}}</p>
                 
          
        </div>
      </div>
    
    
      <div ng-controller="ProblemasController">
        
        <p>The button has been clicked {{id}} times.</p>
    </div>
    
    <!--grafico 2: problema por año --
    <h1>SALUD - GRAFICO 2</h1>
    <div ng-controller="ProblemasController">
          <select ng-model="data.problema">
            <option id="combo" ng-repeat="problema in problemas" ng-value="problema._id">{{problema.nombre}}</option>
          </select>
    
            <button id="1" ng-click="filtrar($event)">Buscar</button>
          <p>You selected: {{grafico}}</p>
    </div>
    
    
    
    <!--grafico 3: muertes por violencia de generro por año vs denuncias pr violencia de genero  --
    <h1>SALUD - GRAFICO 3</h1>
    <div ng-controller="SucesosController">
      Muertes por violencia de genero: {{grafico}}
    </div>
    <div ng-controller="ViolenciasDenunciasController">
      Denuncias por violencia de genero:  {{grafico}}
    </div>
    
    
    
    <h1>INFRACCIONES - GRAFICO 1</h1>
    <div ng-controller="InfraccionesController">
      {{graficos}}
      <br>
      fecha desde <input id="bday-month" type="month" name="bday-month"
      min="2010-01" max="2018-12" ng-model="data.fdesde">
      <br>
      fecha hasta <input id="bday-month" type="month" name="bday-month"
      min="2010-01" max="2018-12" ng-model="data.fhasta">
      <br>
      <button id="1" ng-click="filtrar($event)">Filtrar</button>
      {{labels}}
      {{datos_label}}
    </div>
    <h1>INFRACCIONES - GRAFICO 2</h1>
    <div ng-controller="SexoInfraccionesController">
        total: {{graficos}} <br>
        total masculino: {{graficosMasculino}} <br>
        total femenino: {{graficosFemenino}} <br>
    </div>
    
    
    
    <h1>INFRACCIONES - GRAFICO 3</h1>
    <div ng-controller="CrecimientoInfraccionesController">
    {{graficos}}
    
    </div>

            <h1>TURISMO - ALOJAMIENTO - GRAFICO 1</h1>
            <div ng-controller="TiposAlojamientosController">
            
                {{grafico}}
            <br>
            fecha desde <input id="bday-month" type="month" name="bday-month"
            min="2010-01" max="2018-12" ng-model="data.fdesde">
            <br>
            fecha hasta <input id="bday-month" type="month" name="bday-month"
            min="2010-01" max="2018-12" ng-model="data.fhasta">
            <br>
            <button id="1" ng-click="filtrar($event)">Filtrar</button>
            </div>

            
            <h1>TURISMO - EXCURSIONES - GRAFICO 2</h1>
            <div ng-controller="TiposExcursionesController">
            
                {{grafico}}
            <br>
            fecha desde <input id="bday-month" type="month" name="bday-month"
            min="2010-01" max="2020-12" ng-model="data.fdesde">
            <br>
            fecha hasta <input id="bday-month" type="month" name="bday-month"
            min="2010-01" max="2020-12" ng-model="data.fhasta">
            <br>
            <button id="1" ng-click="filtrar($event)">Filtrar</button>
            </div>



            <h1>TURISMO - ALOJAMIENTO - GRAFICO 3</h1>
            <div ng-controller="CrecimientoAlojamientosController">
            
            Crecimiento Alojamientos:  {{graficos}}
            
            </div>
            <div ng-controller="CrecimientoExcursionesController">
            
            Crecimiento Excursiones:  {{graficos}}
            
            </div>
            
            
            <h1>TURISMO - ALOJAMIENTO - GRAFICO 4</h1>
            <div ng-controller="NacionalidadAlojamientosController">
            
                Alojamientos por nacionalidad:   {{graficos}}
            
            </div>
            <div ng-controller="NacionalidadExcursionesController">
            
                Excursiones por nacionalidad: {{graficos}}
            
            </div>



            <h1>DENUNCIAS - GRAFICO 1</h1>
            <div ng-controller="DenunciasController">
            {{graficos}}
            <br>
            </div>

        <!-- FIN DATOS DE PRUEBA-->

        <!--
        <div ng-controller="AlertasController">
            <script type="text/ng-template" id="alert.html">
            <div ng-transclude></div>
            </script>
        
            <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)">{{alert.msg}}</div>
            <div uib-alert template-url="alert.html" style="background-color:#fa39c3;color:white">A happy alert!</div>
            <button type="button" class='btn btn-default' ng-click="addAlert()">Add Alert</button>
        </div>
            </div> <!--fin container fluid--
                    </div><!--fin content--
                    <footer class="footer">
                            <div class="container-fluid">
                                <nav class="pull-left">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                Home
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Company
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Portfolio
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                               Blog
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                                <p class="copyright pull-right">
                                    &copy; <script>document.write(new Date().getFullYear())</script> <a href="http://www.creative-tim.com">Creative Tim</a>, made with love for a better web
                                </p>
                                
                            </div>
                        </footer> <!--fin footer--
            </div> <!--fin main panel --
</div><!--fin wrapper--
-->

</section>

