<section>
  <div class="page-header">
    <h1>
      Atenciones
      <a class="btn btn-primary pull-right" data-ui-sref="admin.atenciones.create">
        <i class="glyphicon glyphicon-plus"></i>
      </a>
    </h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="atencion in vm.atenciones" data-ui-sref="admin.atenciones.edit({atencionId: atencion._id})" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="atencion.lugar"></span>
        by
        <span ng-bind="atencion.fecha"></span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="atencion.descripcion"></h4>
      <p class="list-group-item-text" data-ng-bind="atencion.doctor"></p>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.atenciones.$resolved && !vm.atenciones.length">
    No atenciones yet, why don't you <a data-ui-sref="admin.atenciones.create">create one</a>?
  </div>
</section>
